body {
  font-family: 'Roboto', sans-serif;
}

.page {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 70px;
}

.oui {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  font-size: 40px;
}

.non {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-size: 40px;
}
