#questionCard {
  text-align: center;
  position: relative;
  left: 35.55%;
  height: 100%;
  font-size: 20px;
  
  .header {
    font-family: 'Roboto', sans-serif;
  }
  .image {
    width: 40%;
    margin: 0 auto;
  }
}
